* {
    margin: 150px;
}
div {
    margin: 10px;
    border-style: solid;
    padding: 1px;
    display: inline-block;
    width: 300px;
    height: 200px;
    text-align: center;
}
.color-1 {
       background-color:rgba(255, 0, 0 ,.7);
}
.color-2 {
    background-color: rgba(0, 0, 255 ,.8);
}
.color-3 {
       background-color: rgba(0, 128, 0 ,.5);
}
