.solo {
      margin:5px;
      border-color: black;
      border: solid;
      background-color: aqua;
      width: 300px;
      height: 200px;
      width: calc(300px - 20px);
      height: calc(200px + 10px); 
}
.dark {
      margin: 20px;
      border: solid;
      background-color: rgba(0,128,0,0.5);
}   

div p {
      background-color: rgb(0,0,255);
      transform: rotate(184deg);
}
