h1 {
    color: blue;
    color: red;
    color: aqua;
}
.elemento {
           background-color: aqua;
           font-size: 20px;
           font-size: 39px;
           background-color: blueviolet;
}