h1 {
    font-family: sans-serif;
    text-align: center;
    line-height: 55px;
    font-size: x-large;
    font-size: 40px;
    text-decoration-line:underline;
    font-style: italic;
}
p {
     font-family: sans-serif;
    text-align: center;
    line-height: 55px;
    font-size: x-large;
    font-size: 40px;
    text-decoration-line:underline;
    font-style: italic;
    font-weight: bolder;
}