.keyword-1 {
    color: #ff0000;  
    font-size: medium;  
    font-weight: bold;  
}
.unit-1 {  
    
    font-size: 16px;  
    font-weight: 900;  
}
.unit-2 {
    
    font-size: 16px;  
    font-weight: 900;  
}
.keyword-2 {
    color: red;  
    font-size: medium;  
    font-weight: bold;  
}